<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Foto = do Anderson </h1>
    <h2>Segurança = da informação</h2>
    <form action="{% url 'segunda' %}">
        <p>O esculacho:</p>
        <input type="checkbox" value="Não está nem perto de parar" id="">
        <input type="submit" name="Alexia desliga a visão das coruja">
    </form>
    <img src="https://cdn.theconversation.com/avatars/2209053/width238/anderson_puc_rio_edit.jpg" alt="Anderson">
</body>
</html>